<div id="<%= dom_id brand %>">
  <tr>
    <td><%= brand.name %></td>
    <td><%= link_to 'Show', brand %></td>
    <td><%= link_to 'Edit', edit_brand_path(brand) %></td>
    <td><%= button_to 'Destroy', brand, method: :delete %></td>
  </tr>
</div>
